body{
  display: flex;
  justify-content: center;
}

.card-container{
  text-align: center;
  height: 300px;
  width: 500px;
  /* box-shadow: -7px 172px 0px 200px rgba(0,0,0,0.29);
  -webkit-box-shadow: -7px 172px 0px 200px rgba(0,0,0,0.29);
  -moz-box-shadow: -7px 172px 0px 200px rgba(0,0,0,0.29); */
}

.Gif{
  width: 100px
}

.card-nav{
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  height: 30px;
  background-color: rgb(211, 231, 235);
  align-items: center;
  
}

.card-tools{
 display: grid;
 grid-template-columns: 2fr 2fr;
 margin-top: 200px;
}

.btn{
  margin: 2px;
  border: none;
}

.card-footer{
  margin-top: 0px;
  display: flex;
  justify-content: end;
  background-color: rgb(211, 231, 235);
  height: 20px;
  padding: 8px
}

.only-me-btn{
  width:100px;
  border-radius: 5%;
  border: none;
  margin-right: 10px;
}

.post-btn{
  width:75px;
  background-color: rgb(36, 68, 175);
  color: aliceblue;
  border-radius: 5%;
  border: none;
}

.bubble-arrow{
  border-width: 11px; 
  border-style: solid; 
  border-color: transparent rgb(214, 57, 57) transparent transparent; 
  border-image: initial; 
  width: 0px; 
  height: 0px; 
  position: absolute; 
  pointer-events: none; 
  margin-top: -11px; 
  z-index: 2000000000; 
}

.Gif-container{
  width: fit-content;
  height: 100px;
}